
@{
    ViewData["Title"] = "Novo";
}
@model RegistroViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;

<h2>Novo</h2>

@using (Html.BeginForm("Cadastra", "Usuario"))
{
    @Html.EditorFor(u => u)

    <input type="submit" value="Salvar" class="btn btn-primary" />
}

<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/jquery.validate.js"></script>
<script src="~/js/jquery.validate.unobtrusive.js"></script>
<script>
    $("form").validate();
</script>
