
@{
    ViewData["Title"] = "Index";
}

@model List<Blog.Models.Post>;

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Resumo</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.Titulo</td>
            <td>@p.Resumo</td>
            <td>@p.Categoria</td>
        </tr>
        }
    </tbody>
</table>
