
@{
    ViewData["Title"] = "Novo";
}

<h2>Novo</h2>
<form method="post" action="/Post/AdicionaPost">
    <label>
        Titulo : <input type="text" name="Titulo" />
    </label>
    <label>
        Resumo : <input type="text" name="Resumo" />
    </label>
    <label>
        Categoria : <input type="text" name="Categoria" />
    </label>
    <input type="submit" value="Salvar" />
</form>

