
@{
    ViewData["Title"] = "Visualiza";
}
@model Blog.Models.Post;

<form action="/Post/EditaPost" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <label>
        Titulo : <input name="Titulo" value="@Model.Titulo" />
    </label>
    <label>
        Resumo : <input name="Resumo" value="@Model.Resumo" />
    </label>
    <label>
        Categoria: <input name="Categoria" value="@Model.Categoria" />
    </label>
    <button type="submit">Cadastrar</button>
</form>


