
@{
    ViewData["Title"] = "Cabecalho";
}

<head>
    <div class="jumbotron">
        <h1>Blog do Wod</h1>
        <p>
            Blog sobre desenv e algumas coisas + 
        </p>
    </div>
</head>
